<a href="https://colab.research.google.com/github/gowtham777y/Games-KNN/blob/main/game_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("game_knn.csv")
df

  Name  Age Gender     Sport
0    A   32      M  Football
1    B   40      M   Neither
2    C   16      F   Cricket
3    D   34      F   Cricket
4    E   55      M   Neither
5    F   40      M   Cricket
6    G   20      F   Neither
7    H   15      M   Cricket
8    I   55      F  Football
9    J   15      M  Football

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()
label=le.fit_transform(df["Gender"])

In [6]:
label

array([1, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [7]:
df

  Name  Age Gender     Sport
0    A   32      M  Football
1    B   40      M   Neither
2    C   16      F   Cricket
3    D   34      F   Cricket
4    E   55      M   Neither
5    F   40      M   Cricket
6    G   20      F   Neither
7    H   15      M   Cricket
8    I   55      F  Football
9    J   15      M  Football

In [8]:
df=df.drop('Gender',axis="columns") 
df

  Name  Age     Sport
0    A   32  Football
1    B   40   Neither
2    C   16   Cricket
3    D   34   Cricket
4    E   55   Neither
5    F   40   Cricket
6    G   20   Neither
7    H   15   Cricket
8    I   55  Football
9    J   15  Football

In [9]:
df.insert(2,"Gender",label) # Inserting gender values 
df

  Name  Age  Gender     Sport
0    A   32       1  Football
1    B   40       1   Neither
2    C   16       0   Cricket
3    D   34       0   Cricket
4    E   55       1   Neither
5    F   40       1   Cricket
6    G   20       0   Neither
7    H   15       1   Cricket
8    I   55       0  Football
9    J   15       1  Football

In [10]:
x=df.iloc[:,1:3].values
y=df["Sport"]

In [13]:
y=le.fit_transform(y)
y

array([1, 2, 0, 0, 2, 0, 2, 0, 1, 1])

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [16]:
classifier=KNeighborsClassifier(n_neighbors=3,metric="euclidean")

In [17]:
classifier.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [18]:
y_pred=classifier.predict(x)

In [19]:
y_pred

array([0, 0, 0, 0, 2, 0, 0, 0, 2, 0])

In [20]:
y

array([1, 2, 0, 0, 2, 0, 2, 0, 1, 1])

In [21]:
cm=confusion_matrix(y,y_pred)
cm

array([[4, 0, 0],
       [2, 0, 1],
       [2, 0, 1]])

In [22]:
accuracy_score(y,y_pred)

0.5

In [23]:
classifier.predict([[5,0]])

array([0])